$text-color-green: #009B4D;
$text-color-light-grey: #2B292D;
$tip-line-color: #E3E3E3;
$headline-background-color:#fff;
$color-button-get-started: #3040C4;
$color-about-background: #F4F5F7;
$text-color-grey:#2B292D99;
$audience-background-color:rgba(0, 161, 198, 0.07);